 <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
<header>
 <body>
  <p><strong>Title: </strong><%= @book.title %></p>
  <p><strong>Opinion: </strong><%= @book.opinion %></p>

   <%= link_to "Edit", edit_book_path(@book) %>
   <%= link_to "Back", books_path %>
   
 </body>
</header>



<div>
  <%= link_to book_path(book.id) do %>
    <%= attachment_image_tag book, :image %>
  <% end %>
  <p>投稿ユーザー画像：<%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>title：<%= @book.title %></p>
  <p>opinion：<%= @book.opinion %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  
  <% if @book.user == current_user %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
</div>

<a href="#">編集</a>
      <a href="#">削除</a>
      <div class="author-case">
<%= link_to post_image_path(post_image.id) do %>