 <% if user_signed_in? %>
 　　<li>
      <%= link_to "Bookers", root_path %>
    </li>
    <li>
      <i class="fas fa-home"><%= link_to 'Home', user_path(current_user.id) %></i>
    </li>
    <li>
      <i class="fas fa-users"><%= link_to "Users", users_path %></i>
    </li>
    <li>
      <i class="fas fa-book-open"><%= link_to "Books", books_path %></i>
    </li>
    <li>
      <i class="fas fa-sign-out-alt"><%= link_to "Log out", destroy_user_session_path, method: :delete %></i>
    </li>
  <% else %>
  　<li>
      <%= link_to "Bookers", root_path %>
    </li>
    <li>
      <i class="fas fa-home"><%= link_to 'Home', root_path %></i>
    </li>
    <li>
      <i class="fas fa-link"><%= link_to "About", users_path %></i>

    <li>
      <i class="fas fa-user-plus"><%= link_to "Sign up", new_user_registration_path %></i>
    </li>
    <li>
      <i class="fas fa-sign-in-alt"><%= link_to "Log in", new_user_session_path %></i>
    </li>
 <% end %>

<%= yield %>

